* {
    font-family: sans-serif;
    line-height: 1.614em;
    margin: 0;
    padding: 0;
}
nav{
position: fixed;
top: 0;
left: 0;
width: 100%;
display: flex;
flex-flow: row; 
justify-content: center;
}